<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

  <div class="card">
    <h1>Welcome Back</h1>

    <div class="input-group">
      <label>Email</label>
      <input type="email" id="email" placeholder="Enter your email">
    </div>

    <div class="input-group">
      <label>Password</label>
      <input type="password" id="password" placeholder="Enter your password">
    </div>

    <div class="row">
      <label><input type="checkbox"> Remember me</label>
      <a href="#">Forgot password?</a>
    </div>

    <button class="btn" onclick="login()">Login</button>

    <div class="footer-text">
      Don’t have an account? <a href="/signup">Sign up</a>
    </div>
  </div>

  <div class="modal" id="modal">
    <div class="modal-content">
      <h2>Login Successful 🎉</h2>
      <p>Redirecting to dashboard...</p>
      <button class="close-btn" onclick="closeModal()">Continue</button>
    </div>
  </div>
  <script src="../static/js/login.js"></script>


</body>
</html>
